@page "/orders"
@rendermode InteractiveServer
@using WebDev_Labb2.DataAccess

<PageTitle>Orders</PageTitle>

<h1>Orders</h1>

<style>
    h1 {
        text-align: center;
        font-family: Consolas;
        color: rebeccapurple;
    }
</style>

@code {
    
}
