@page "/"
@rendermode InteractiveServer
@using WebDev_Labb2.DataAccess

<PageTitle>Products</PageTitle>

<header class="header">
    <h1>Products</h1>
</header>


<table class="table">
    <thead>
        <tr class="productTitles">
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">EAN</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="productList">
    </tbody>
</table>

<style>
    .header{
        margin : 20px;
    }
    .productTitles {
        background-color: lightgrey;
        font-family : 'Yu Gothic';
        font-size : 20px;
    }
    .productList{
        font-family: 'Yu Gothic';
        font-size : 18px;
    }
    .discontinuedItem {
        color : red;
        font-weight : bolder;
    }
</style>

@code
{
    
}
