@page "/"
@rendermode InteractiveServer
@using WebDev_Labb2.DataAccess
@inject IHttpClientFactory _httpClientFactory

<PageTitle>Products</PageTitle>

<header class="header">
    <h1>Products</h1>
</header>

<div class="container text-center m-2"> 
    <div class="row row-cols-auto">
        <InputText class="form-control col" placeholder="Search product with EAN" @bind-Value="searchText"></InputText>
        <button class="btn btn-secondary" type="submit">Search</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr class="productTitles">
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">EAN</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="productList">
    </tbody>
</table>

<style>
    h1 {
        text-align : center;
        font-family: Consolas;
        color: rebeccapurple;
    }
    .header{
        margin : 20px;
    }

    .searchLabel{
        width: 100px;
        font-family: 'Yu Gothic';
        font-size: 20px;
    }
    .form-control{
        width : 400px;
    }
    .productTitles {
        background-color: lightgrey;
        font-family : 'Yu Gothic';
        font-size : 20px;
    }
    .productList{
        font-family: 'Yu Gothic';
        font-size : 18px;
    }
    .discontinuedItem {
        color : red;
        font-weight : bolder;
    }
</style>

@code
{
    public string searchText = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        var client = _httpClientFactory.CreateClient("RestApi");
        var response = await client.GetAsync("/products/start=0&count=0");


        await base.OnInitializedAsync();
    }
}
