@page "/"
@rendermode InteractiveServer
@using System.Reflection.Metadata
@using WebDev_Labb2.DataAccess
@inject IHttpClientFactory _httpClientFactory

<PageTitle>Products</PageTitle>

<header class="header">
    <h1>Products</h1>
</header>

<div class="spacer"></div>

<h3>New product</h3>
<div class="container text-center m-2">
    <div class="row row-cols-auto">
        <InputText class="form-control col" placeholder="Name" @bind-Value="newProductName"></InputText>
        <InputText class="form-control col" placeholder="EAN" @bind-Value="newProductEAN"></InputText>
        <InputText class="form-control col" placeholder="Price" @bind-Value="newProductPrice"></InputText>
        <InputText class="form-control col" placeholder="Category" @bind-Value="newProductCategory"></InputText>
        <button class="btn btn-outline-success" type="submit" onclick="AddNewProduct">Add</button>
        <InputText class="form-control col" placeholder="Description" @bind-Value="newProductDescription"></InputText>
        <InputText class="form-control col" placeholder="Discontinued" @bind-Value="newProductStatus"></InputText>
        <button class="btn btn-outline-success" type="submit" onclick="UpdateProduct">Update</button>
    </div>
</div>

<div class="spacer"></div>

<div class="container text-center m-2"> 
    <div class="row row-cols-auto">
        <InputText class="form-control col" placeholder="Search product with EAN" @bind-Value="searchText"></InputText>
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr class="productTitles">
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">EAN</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="productList">
    </tbody>
</table>

<style>
    h1 {
        text-align : center;
        font-family: Consolas;
        color: rebeccapurple;
    }
    .header{
        margin : 20px;
    }

    .spacer{
        height : 50px;
    }
    .searchLabel{
        width: 100px;
        font-family: 'Yu Gothic';
        font-size: 20px;
    }
    .form-control{
        width : 450px;
    }
    .productTitles {
        background-color: lightgrey;
        font-family : 'Yu Gothic';
        font-size : 20px;
    }
    .productList{
        font-family: 'Yu Gothic';
        font-size : 18px;
    }
    .discontinuedItem {
        color : red;
        font-weight : bolder;
    }
</style>

@code
{
    public string searchText = String.Empty;

    public string newProductName = String.Empty;
    public string newProductEAN = String.Empty;
    public string newProductPrice = String.Empty;
    public string newProductCategory = String.Empty;
    public string newProductDescription = String.Empty;
    public string newProductStatus = String.Empty;


    protected override async Task OnInitializedAsync()
    {
        var db = new HandmadeDbContext();
        
        foreach (var product in db.Products)
        {
            <script>
                document.getElementById()
            </script>
        }
        var client = _httpClientFactory.CreateClient("RestApi");
        var response = await client.GetAsync("/products/start=0&count=0");


        await base.OnInitializedAsync();
    }

    private void AddNewProduct()
    {
        

        ClearAllFields();
    }

    private void ClearAllFields()
    {
        
    }
}
